:root {
  --base: transparent;
  --sub-base: transparent;
  --surface-1: #000000ab;
  --surface-2: #000000c7;
  --surface-3: #000000c7;
  --current-tab: #0000005c;
  --url-bar: #0000005c;
  --hover-btn: #5e5d5d5c;
}

/* mandatory for other transparent background */
#main-window {
  background: var(--base) !important;
}

/* for the case the "title bar" checbox is not checked */
:root[tabsintitlebar] #navigator-toolbox-background {
  appearance: none !important;
}

/* remove the all tabs button */
#alltabs-button {
  display: none;
}

/* remove the folder icon on the favs folders */
toolbarbutton.bookmark-item > image {
  display: none !important;
}

/* set the toolbox rules */
#navigator-toolbox {
  background: var(--sub-base) !important;
}

/* tabs bar */
#titlebar {
  background: var(--surface-1) !important;
}

/* navigation bar */
#nav-bar {
  background: var(--surface-2) !important;
}

/* favorite toolbar */
#PersonalToolbar {
  background: var(--surface-3) !important;
}

/* current tab */
.tab-background[selected="true"] {
  background-image: none !important;
  background: var(--current-tab) !important;
}

/* url bar */
#urlbar-background {
  background: var(--url-bar) !important;
}

/* url bar deployed */
#urlbar[open="true"] {
  background: var(--url-bar) !important;
}

.urlbarView {
  backdrop-filter: blur(20px);
}

/* firefox btn */
.toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > image,
.toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-badge-stack,
toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]):hover,
#PersonalToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover,
.identity-box-button:hover:not([open="true"]),
#tracking-protection-icon-container:hover:not([open="true"]),
.urlbar-page-action:not([disabled]):hover,
#urlbar-go-button:hover,
.search-go-button:hover {
  background: var(--hover-btn) !important;
}


